<div class = "main">
  <div class = "main__indexpage">
    <div class = main__indexpage__content>
      <div class = main__indexpage__content__headerwrapper>
        <div class = main__indexpage__content__headerwrapper__title>
          最近の見積書
        </div>
        <div class = main__indexpage__content__headerwrapper__nav>
          すべて見る
        </div>
      </div>
    </div>
  </div>
</div>