.main
  .main__indexpage
    .main__indexpage__content
      .main__indexpage__content__headerwrapper
        .main__indexpage__content__headerwrapper__title
          最近の見積書
        .main__indexpage__content__headerwrapper__nav
          すべて見る
