<main class = "home">
  <div class = "home__inner">
    <div class = "home__inner__message">
    </div>
    <div class = "login">
      <%= link_to "ログイン", new_user_session_path, class: "login__btn"%>
    </div>
    <div class = "signin">
      <%= link_to "新規登録", step1_signup_index_path, class: "signin__btn"%>
    </div>
  </div>
</main>