<div class="main">
  <div class="customer-index">
    <div class="customer-index__header">
      <h1 class="customer-index__header__title">
        取引先一覧
      </h1>
      <div>
        <%= link_to "顧客登録", new_customer_path, class: "new_customer_btn" %>
      </div>
    </div>
    <div class="customer-index__contents">
      <% @customers.each do |customer| %>
        <div class="customer-index__contents__info">
          <div class="customer-index__contents__info__company">
            <%= customer.customer_company %>
          </div>
          <div class="customer-index__contents__info__nav">
            <div class="customer-index__contents__info__nav__btn">
              <%= link_to "編集", edit_customer_path(customer) %>
            </div>
            <div class="customer-index__contents__info__nav__btn">
              <%= link_to "削除", customer_path(customer), method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
