<div class="main">
  <div class="form">
    <h1 class="form__title">
      商品情報編集
    </h1>
    <div class="form__content">
      <div class="form__content__input">
        <%= form_with model: @item, local: true do |f|%>
          <div class="input-area">
            <%= f.label :item_name, "商品名", class: "input-area__title" %>
            <span class = "input-area__required">必須</span><br />
            <%= f.text_field :item_name, autofocus: true, autocomplete: "item_name", class: "input-area__text-field" %>
          </div>
        <div class="input-area">
          <%= f.submit "登録", class: "submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>