.main
  .item-index
    .item-index__header
      %h1.item-index__header__title
        商品一覧
      %div
        = link_to "商品登録", new_item_path, class: "new_item_btn"
    .item-index__contents
      - if @items.present?
        - @items.each do |item|
          .item-index__contents__info
            .item-index__contents__info__company
              = item.item_name
            .item-index__contents__info__nav
              .item-index__contents__info__nav__btn
                = link_to "編集", edit_item_path(item)
              .item-index__contents__info__nav__btn
                = link_to "削除", item_path(item), method: :delete
      - else
        %p 登録商品はありません。
