.header-nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  &__bar {
    min-height: 64px;
    margin: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app-title {
      font-size: 30px;
      font-family: Arial Black;
      position: relative;
      top: 50%;
      color: gray;
    }
    // .login-btn {
    // }
  }
  &__menu {
    display: flex;
    &__item {
      font-size: 14px;
      padding: 10px 20px;
      font-weight: 700;
      color: gray;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

.main {
  padding-top: 24px;
  width: 100%;
  &__indexpage {
    width: 100%;
    max-width: 1920px;
    padding: 0 24px;
    &__content {
      width: 100%;
      margin-bottom: 32px;
      &__headerwrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
          font-size: 24px;
          font-weight: 700;
          word-break: break-all;
        }
        &__nav {
          font-size: 12px;
          color: gray;
          cursor: pointer;
          transition: all .2s cubic-bezier(1,0,0,1);
        }
      }
    }
  }
}

.home {
  height: 400px;
  padding: auto;
  padding-top: 100px;
  background-image: url(jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-size: cover;
  &__inner {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    .login {
      padding: 50px 32px 24px;
      &__btn {
        background-color: rgb(0, 158, 206);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 40px;
        padding: 0 16px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        border: none;
      }
    }
    .signin {
      padding: 24px 32px 50px;
      text-align: center;
      &__btn {
        background-color: rgb(0, 158, 206);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 40px;
        padding: 0 16px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        border: none;
      }
    }
  }
}

.signup {
  display: block;
  min-height: calc(100vh - 65px);
  padding: 40px 16px 200px;
  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  &__form {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    &__input {
      padding: 24px 32px 32px;
      .input-area {
        margin-bottom: 20px;
        &__title {
          font-weight: 700;
          margin-bottom: 4px;
        }
        &__required {
          margin-left: 8px;
          color: #ED4956;
        }
        &__text-field {
          width: 100%;
          background-color: #fff;
          border: 1px solid #e1e5e7;
          height: 40px;
          padding: 5px 10px;
          margin-top: 5px;
          vertical-align: middle;
          border-radius: 4px;
          cursor: text;
        }
        .submit-btn {
          font-size: 16px !important;
          font-weight: bold;
          border-radius: 4px !important;
          display: block;
          text-align: center;
          cursor: pointer;
          width: 100%;
          height: 50px;
          line-height: 48px;
          border: 1px solid rgb(0, 158, 206);
          background-color: rgb(0, 158, 206);
          color: #fff;
        }
      }
    }
  }
}