.header-nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  &__bar {
    min-height: 64px;
    margin: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app-title {
      font-size: 30px;
      font-family: Arial Black;
      position: relative;
      top: 50%;
      color: gray;
    }
  }
  &__menu {
    display: flex;
    &__item {
      font-size: 14px;
      padding: 10px 20px;
      font-weight: 700;
      color: gray;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

.main {
  padding-top: 24px;
  width: 100%;
  &__indexpage {
    width: 100%;
    max-width: 1920px;
    padding: 0 24px;
    &__content {
      width: 100%;
      margin-bottom: 32px;
      &__headerwrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
          font-size: 24px;
          font-weight: 700;
          word-break: break-all;
        }
        &__nav {
          font-size: 12px;
          color: gray;
          cursor: pointer;
          transition: all .2s cubic-bezier(1,0,0,1);
        }
      }
    }
  }
}

// ホーム
.home {
  max-height: 600px;
  min-height: 300px;
  padding: 50px 0;
  background-image: url(jeshoots-com-pUAM5hPaCRI-unsplash.jpg);
  background-size: cover;
  &__inner {
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    &__message {
      margin-bottom: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      &__top {
        margin: 27px auto 43px auto;
        padding: 44px 46px 43px 78px;
        background-color: rgba(2, 193, 216, .7);
        color: #fff;
        text-align: left;
        // text-shadow: 0 0 18px rgb(16 54 58 / 20%);
        font-size: 40px;
        line-height: 1.4;
      }
    }
    .create_documents {
      width: 360px;
      margin: 0 auto;
      border-radius: 4px;
      padding: 20px 0;
      &__btn {
        text-align: center;
        &__text {
          margin: 15px;
          display: inline-block;
          box-sizing: border-box;
          padding: 15px 20px 14px;
          max-width: 260px;
          width: 100%;
          border: 2px solid #ff9e06;
          border-radius: 5px;
          background: #ff9e06;
          color: #fff;
          text-align: center;
          font-weight: 500;
          line-height: 1.2;
        }
      }
    }
    .devise_box {
      width: 360px;
      margin: 0 auto;
      border-radius: 4px;
      padding: 20px 0;
      &__btn {
        text-align: center;
        &__text {
          margin: 15px;
          display: inline-block;
          box-sizing: border-box;
          padding: 15px 20px 14px;
          max-width: 260px;
          width: 100%;
          border: 2px solid #ff9e06;
          border-radius: 5px;
          background: #ff9e06;
          color: #fff;
          text-align: center;
          font-weight: 500;
          line-height: 1.2;
        }
      }
    }
  }
}

.signup {
  display: block;
  padding: 40px 16px 100px;
  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  &__form {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    &__input {
      padding: 24px 32px 32px;
      .input-area {
        margin-bottom: 20px;
        input:focus,
        texture:focus {
            box-shadow: 0 0 7px #3498db;
            border: 1px solid #3498db;
        }
        &__title {
          font-weight: 700;
          margin-bottom: 4px;
        }
        &__required {
          margin-left: 8px;
          color: #ED4956;
        }
        &__text-field {
          width: 100%;
          background-color: #fff;
          border: 1px solid #e1e5e7;
          height: 40px;
          padding: 5px 10px;
          margin-top: 5px;
          vertical-align: middle;
          border-radius: 4px;
          cursor: text;
        }
        .submit-btn {
          font-size: 16px !important;
          font-weight: bold;
          border-radius: 4px !important;
          display: block;
          text-align: center;
          cursor: pointer;
          width: 100%;
          height: 50px;
          line-height: 48px;
          border: 1px solid rgb(0, 158, 206);
          background-color: rgb(0, 158, 206);
          color: #fff;
        }
      }
    }
  }
}

// マイページ
.main {
  padding-top: 24px;
  width: 100%;
  .mypage {
    max-width: 940px;
    margin: 0 auto;
    &__title {
      // color: white;
      margin-bottom: 16px;
      font-size: 22px;
    }
    &__content {
      padding: 0 0 25px 0;
      .profile {
        background: #f0f0f0;
        padding: 36px 48px 40px 48px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        &__header {
          border-bottom: 1px solid #dcdcdc;
          font-size: 18px;
          padding: 0 0 10px 0;
        }
        &__body {
          font-weight: normal;
          font-style: normal;
          .informationbox {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            display: table;
            box-sizing: border-box;
            text-indent: initial;
            border-color: grey;
            &__inner {
              border-bottom: 1px solid #dcdcdc;
              th {
                padding: 25px 0 23px 0;
                border: none;
                background: none;
                color: #808080;
                width: 175px;
                vertical-align: middle;
                font-weight: normal;
                font-style: normal;
              }
              td {
                padding: 25px 0 23px 0;
                border: none;
                line-height: 1.8;
                p {
                  display: block;
                  margin-inline-start: 0px;
                  margin-inline-end: 0px;
                }
                .details__big {
                  font-size: 25px;
                  margin-bottom: 5px;
                }
                .details__middle {
                  font-size: 20px;
                  margin-bottom: 5px;
                }
              }
              .change {
                width: 51px;
                vertical-align: middle;
                .btn {
                  .edit-btn {
                    padding: 2px 0 0;
                    width: 100px;
                    height: 30px;
                    font-size: 13px;
                    text-decoration: none;
                    border: 1px solid #23ABDD;
                    color: #23ABDD !important;
                    display: block;
                    text-align: center;
                    border-radius: 2px;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// new_customer_form
.main {
  padding-top: 24px;
  width: 100%;
  .new_customer {
    max-width: 360px;
    margin: 0 auto;
    &__title {
      margin-bottom: 16px;
      font-size: 22px;
    }
    &__form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      &__input {
        padding: 24px 32px 32px;
        .input-area {
          margin-bottom: 20px;
          &__title {
            font-weight: 700;
            margin-bottom: 4px;
          }
          &__required {
            margin-left: 8px;
            color: #ED4956;
          }
          &__text-field {
            width: 100%;
            background-color: #fff;
            border: 1px solid #e1e5e7;
            height: 40px;
            padding: 5px 10px;
            margin-top: 5px;
            vertical-align: middle;
            border-radius: 4px;
            cursor: text;
          }
          .submit-btn {
            font-size: 16px !important;
            font-weight: bold;
            border-radius: 4px !important;
            display: block;
            text-align: center;
            cursor: pointer;
            width: 100%;
            height: 50px;
            line-height: 48px;
            border: 1px solid rgb(0, 158, 206);
            background-color: rgb(0, 158, 206);
            color: #fff;
          }
        }
      }
    }
  }
}

// customer_index_page
.main {
  padding-top: 24px;
  width: 100%;
  .customer-index {
    max-width: 700px;
    margin: 0 auto;
    &__header {
      display: flex;
      justify-content: space-between;
      &__title {
        margin-bottom: 16px;
        font-size: 22px;
      }
      .new_customer_btn {
        border: 1px solid #e1e5e7;
        border-radius: 5px;
        padding: 10px;
      }
    }
    .customer-index__contents {
      max-width: 960px;
      border: 1px solid #e1e5e7;
      padding: 10px 20px 10px;
      border-radius: 5px;
      &__info {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        &__company {
          font-size: 20px;
          display: flex;
          align-items: center;
        }
        &__nav {
          display: flex;
          &__btn {
            width: 50px;
            height: 30px;
            font-size: 13px;
            text-decoration: none;
            border: 1px solid #23ABDD;
            color: #23ABDD !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

// items_index_page
.main {
  padding-top: 24px;
  width: 100%;
  .item-index {
    max-width: 700px;
    margin: 0 auto;
    &__header {
      display: flex;
      justify-content: space-between;
      &__title {
        margin-bottom: 16px;
        font-size: 22px;
      }
      .new_item_btn {
        border: 1px solid #e1e5e7;
        border-radius: 5px;
        padding: 10px;
      }
    }
    .item-index__contents {
      max-width: 960px;
      border: 1px solid #e1e5e7;
      padding: 10px 20px 10px;
      border-radius: 5px;
      &__info {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        &__company {
          font-size: 20px;
          display: flex;
          align-items: center;
        }
        &__nav {
          display: flex;
          &__btn {
            width: 50px;
            height: 30px;
            font-size: 13px;
            text-decoration: none;
            border: 1px solid #23ABDD;
            color: #23ABDD !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

// item_new_form
.main {
  padding-top: 24px;
  width: 100%;
  .new_item {
    max-width: 360px;
    margin: 0 auto;
    &__title {
      margin-bottom: 16px;
      font-size: 22px;
    }
    &__form {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      &__input {
        padding: 24px 32px 32px;
        .input-area {
          margin-bottom: 20px;
          &__title {
            font-weight: 700;
            margin-bottom: 4px;
          }
          &__required {
            margin-left: 8px;
            color: #ED4956;
          }
          &__text-field {
            width: 100%;
            background-color: #fff;
            border: 1px solid #e1e5e7;
            height: 40px;
            padding: 5px 10px;
            margin-top: 5px;
            vertical-align: middle;
            border-radius: 4px;
            cursor: text;
          }
          .submit-btn {
            font-size: 16px !important;
            font-weight: bold;
            border-radius: 4px !important;
            display: block;
            text-align: center;
            cursor: pointer;
            width: 100%;
            height: 50px;
            line-height: 48px;
            border: 1px solid rgb(0, 158, 206);
            background-color: rgb(0, 158, 206);
            color: #fff;
          }
        }
      }
    }
  }
}
